*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: rgb(20, 20, 20);
}


.bg-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}

.banner {
    max-width: 100%;
    height: auto;
    z-index: 3;
}

@media (max-width: 767px) {


    .banner{
        opacity: 0;
    }

    .navbar-nav {
        flex-direction: column;
        text-align: center;
    }
    .nav-item {
        background-color: rgba(0,0,0, 0.5);
    }
    .nav-item :hover{
        background-color: rgba(0,0,0, 0.5);
    }    
}

nav{
    background-color: transparent;
    transition: background-color 0.5s;
}

  
nav.scrolled {
    background-color: rgba(0,0,0, 0.5)
}


header li{
    margin-left: 20px;
}

li form{
    margin-left: 30px;
}

main{
    flex: 1;
}

main section{
    width: 100%;
    height: 100vh;
}

.AboutUs{
    text-align: center;
    padding-top: 100px;
    padding-bottom: 150px;
    overflow: hidden;

}

.AboutUs h5{
    padding-top: 10px;
}

.AboutUs p{
    padding: 100px;
    text-align: left;
}

.AboutUs button{
    margin-top: -100px;
}

#columns-section {
    overflow: hidden;
}

.left-column, .right-column {
    opacity: 0; 
    transform: translateX(-100%); 
    transition: opacity 0.5s ease, transform 0.5s ease; 
}

.left-column.visible {
    opacity: 1; 
    transform: translateX(0); 
}

.right-column {
    transform: translateX(100%); /* Desplazar fuera de la vista a la derecha */
}

.right-column.visible {
    opacity: 1;
    transform: translateX(0); /* Regresar a su posición original */
}

@media (max-width: 900px){

    .AboutUs{
        padding-top: 40px;
    }
    .AboutUs p{
        padding: 20px;
        text-align: left;
    }

    #columns-section {
        overflow: hidden;
        display: grid;
        text-align: center;
        
    }
    .AboutUs button{
        margin-top: 0;
        margin-bottom: 20px;
    }

    .right-column img{
        width: 50%;
    }
}

.Artistas {
    padding-top: 100px;
    padding-bottom: 150px;
    background-color: rgb(250, 247, 234);
    min-height: auto; 
}


@media (max-width: 700px) {
    .Artistas {
        min-height: 1650px; 
    }
}

@media (min-width: 700px) and (max-width: 1200px) {
    .Artistas {
        min-height: 800px;
    }
}

@media (min-width: 1201px) {
    .Artistas {
        min-height: auto;
    }
}

.Artistas h2{
    text-align: center;
}

.Artistas div {
    margin-top: 50px;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr)); 
}


.Artistas a{
    color: inherit;
    text-decoration: none;
}

.Artistas img{
    max-width: 90%; 
    max-height: 90%; 
}

.divArtistas{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.art{
    transform: translateY(50px);
    opacity: 0;
    transition: transform 0.5s ease, opacity 0.5s ease;
}

.art.visible{
    transform: translateY(0);
    opacity: 1;
}


.Promo{
    padding-top: 100px;
    padding-bottom: 150px;
}

.promowe {
    text-align: center;
}

.promowe h2{
    padding-bottom: 50px;
}

.promowe a{
    text-align: center;
    text-decoration: none;
}

.promoDiv{
    text-align: center;
    position: relative;
    width: 100%;
    height: 400px;
    overflow: hidden; 
    background-image: url('../img/header03.jpg'); 
    background-size: cover;
    background-position: center; 
    transition: filter 0.5s ease; 
    padding-bottom: 150px;
}

.promoDiv::before {
    content: ''; 
    position: absolute;
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0;
    background-color: rgba(0, 0, 0, 0);
    transition: background-color 0.3s ease;
}

.promoDiv:hover::before{
    background-color: rgba(0, 0, 0, 0.5);
}

.promoText {
    position: absolute; 
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%);
    font-size: 24px;
    opacity: 0; 
    transition: opacity 0.3s ease;
}

.promoDiv:hover .promoText{
    opacity: 1;
}

.Contacto{
    padding-top: 100px;
    padding-bottom: 150px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: auto;
    margin-bottom: 150px;


}

.Contacto h2{
    text-align: center;
    padding-bottom: 20px;
}

.Contacto form{
    padding: 50px;
    background-color: rgba(0, 0, 0, 0.8);
}

.Contacto form input{
    background-color: rgb(20, 20, 20);
}

.Contacto form textarea{
    background-color: rgb(20, 20, 20);
}

footer{
    padding-top: 100px;
    padding-bottom: 150px;
}

footer div, h5{
    text-align: center;
}
footer p{
    margin-top: 50px;
}

footer img{
    filter: invert();
    margin: 15px;
    max-width: 1.5%;
    max-height: 1.5%;
}

#aboutus{
    scroll-margin-top: 200px;
}

#artistas{
    scroll-margin-top: 200px;
}

#promo{
    scroll-margin-top: 200px;
}

#contacto{
    scroll-margin-top: 200px;
}

.Login{  
    padding-top: 150px;
    background-image: url('../img/login.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.Login h2{
    text-align: center;
    padding-bottom: 20px;
}

.Login form{
    padding: 100px;
    background-color: rgba(0, 0, 0, 0.8);
}

.Login button{
    margin-top: 40px;
}

.subir{
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    font-size: 24px;
    color: #333;
    text-decoration: none;
}
  
.subir:hover{
    color: #666;
}


.Artista{
    padding-top: 120px;
    background-image: url('../img/promos.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}

@media (max-width: 580px) {
    .Artista {
        min-height: 2400px; 
    }
}

@media (min-width: 580px) and (max-width: 990px) {
    .Artista {
        min-height: 1200px;
    }
}

@media (min-width: 991px) {
    .Artista {
        min-height: 900px;
    }
}

.Artista01{ 
    display: flex;
    background-color: rgba(0, 0, 0, 0.8);

}

.Artista .uno{
    margin-right: 20px;
}

.Artista .dos{
    margin-left: 20px;
}

.trabajodisenyo img {
    padding: 10px;
    width: 100%;
    height: auto;
    max-width: 100%;
}

.Artista02{
    padding-top: 70px;
    text-align: center;
}

.Artista02 button{
    width: 50%;
    margin: -3px;
    border-radius: 0%;
}

.Artista01, .Artista02{
    padding: 50px;

}

.detalledisenyo img {
    max-width: 100%;   
    height: auto;      
    display: block;    
    margin: 0 auto;   
}


.fotosdisenyo{
    display: flex;
    padding-bottom: 50px;
}

.promomain{
    text-align: center;

}

@media (max-width: 580px) {
    .PromoDetalle {
        min-height: 1900px; 
    }
}

@media (min-width: 580px) and (max-width: 990px) {
    .PromoDetalle {
        min-height: 1000px;
    }
}

@media (min-width: 991px) {
    .PromoDetalle {
        min-height: auto;
    }
}

.Promo2{
    margin-top: 120px;
    text-align: center;
}

.promocionesdiv{
    padding-top: 100px;
    text-align: center;
    align-items: top;
    display: flex;
}


.promocionesdiv div img{
    min-width: 30px;
    min-height: 30px;
}

.PromoDetalle{
    display: grid;
    text-align: center;
    background-image: url('../img/contact.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.PromoDetalle .dos{
    background-color: rgba(0, 0, 0, 0.8);
    margin-top: 120px;
    padding-top: 50px;
    margin-bottom: 50px;
    text-align: center; 
}

.PromoDetalle .dos h2{
    padding-bottom: 80px;
}

.Perfil{
    margin-top: 120px;
    text-align: center;
}

.Perfil .Artista02{
    background: none;
    text-align: left;
    padding: 0;
}

.Perfil .Artista02 div{
    margin-top: 50px;
    padding-left: 5px;
}

.Perfil .Artista02 button{
    width: 100px;
}

.perfil1 h2{
    padding-bottom: 100px;
}

.perfil1 .perfil2{
    display: flex;
}

.perfil1 img{
    width: 200px;
    height: 200px;
    margin-right: 20px;
    margin-bottom: 50px;
}

.perfil2 div{
    text-align: left;
}

.mainusuario_form form{
    padding: 50px;
    background-color: rgba(0, 0, 0, 0.8);
}

.mainartista_form form{
    padding: 50px;
    background-color: rgba(0, 0, 0, 0.8);
}

.sidebar {
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    background-color: #343a40;
    color: white;
    padding-top: 20px;
}
.sidebar a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
}
.sidebar a:hover {
    background-color: #495057;
}
.content {
    margin-left: 260px;
    padding: 20px;
}
.btn-action {
    width: 100%;
}

.Adminpanel{
    padding-top: 100px;

}