{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}
  Ink Out!
{% endblock %}

{% block content %}
<body class="text-white">
  <a href="#subir" class="subir"><button class="btn btn-dark">^</button></a>
  <a id="subir"></a>
  <header class="vh-100">
    <nav class="navbar navbar-expand fixed-top px-5">
      <div class="collapse navbar-collapse">
        <a href="{% url 'landpage' %}" class="mr-auto"><img src="{% static 'admin/img/logo03.png' %}" alt="logo" /></a>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active bg-transparent">
            <a class="nav-link text-white" href="{% url 'landpage' %}">INICIO</a>
          </li>
        </ul>
      </div>
    </nav>
  </header>

  <main class="citamain">
    <section class="Contacto" style="background-image: url({% static 'admin/img/aboutus.png' %});">
      <div class="container col-md-8 col-lg-6 mt-5">
        <form method="POST" action="{% url 'pedircita' %}" class="p-5">
          <h2>Solicitar una Cita</h2>
          {% csrf_token %}
          {% if messages %}
            <div class="alert alert-danger">
              {% for message in messages %}
                <p>{{ message }}</p>
              {% endfor %}
            </div>
          {% endif %}

          <div class="form-group mb-3">
            <select name="artista" class="form-control" required>
              <option value="">Selecciona un artista</option>
              {% for artista in artistas %}
                <option value="{{ artista.id }}">{{ artista.nombre_artistico }}</option>
              {% endfor %}
            </select>
          </div>

          <div class="form-group mb-3">
            <label for="fecha">Fecha de la cita</label>
            <input type="date" name="fecha" class="form-control" required />
          </div>

          <div class="form-group mb-3">
            <label for="hora">Hora de la cita</label>
            <input type="time" name="hora" class="form-control" required />
          </div>

          <div>
            <button type="submit" class="btn btn-dark">Enviar solicitud</button>
          </div>
        </form>
      </div>
    </section>
  </main>
{% endblock %}
